.floating-action {
	bottom: 65px;
	z-index: 1;

	.option {
		background-color: color($colors, primary);
	}
}

.tab-button {
	background: color($colors, primary);
	border-top: 0px;
}
.tab-button[aria-selected=true]{
	color: white !important;
}