.floating-action {
	bottom: 55px;
	z-index: 1;
}
.floating-option-1 {
	bottom: 125px;
	width: 40px;
	height: 40px;
	right: 24px;
	z-index: 1;
}
.option-label-1 {
	z-index: 1;
	position: absolute;
	bottom: 135px;
	border-radius: 5px;
	background: rgba(51, 35, 35, 0.8);
	color: white;
	padding: 5px;
	text-align: center;
	right: 72px;
}
.floating-option-2 {
	bottom: 175px;
	width: 40px;
	height: 40px;
	right: 24px;
	z-index: 1;
}
.option-label-2 {
	z-index: 1;
	position: absolute;
	bottom: 185px;
	border-radius: 5px;
	background: rgba(51, 35, 35, 0.8);
	color: white;
	padding: 5px;
	text-align: center;
	right: 72px;
}
ion-tabbar {
	background: map-get($colors, primary);
	border-top: 0px;
}
.tab-button[aria-selected=true]{
	color: white;
}