<ion-content class="login-page">
    <h1 class="title"> 38Plank </h1>
    <div class="error" *ngIf="error">
        {{error}}
    </div>
    <div class="facebook">
        <button class="button" (click)="facebookLogin()">
            <ion-icon name="facebook" class="buttonIcon"></ion-icon>
            Login With Facebook
        </button>
    </div>
    <div class="email" *ngIf="isDev">
        <button class="button" (click)="emailLogin()">
            Login With Email
            <ion-icon name="mail" class="buttonIcon"></ion-icon>
        </button>
    </div>
</ion-content>
