.workout-card {
	background-color: white;
	border-radius: 3px;
	position: relative;
	font-family: color($fonts, primary);

	.header {
		padding: 2px;
		position: absolute;
		top: 3px;
		.typeIcon {
			display: inline-block;
			width: 20px;
			height: 20px;
			border-radius: 20px;
			vertical-align: middle;
		}
		.author {
			font-family: color($fonts, primary);
			margin: 0px;
			display: inline-block;
			font-size: .8em;
			color: white;
			vertical-align: top;
		}

	}

	.about {
		.row {
			display: block;
			width: 100%;
		}
		.title {
			font-family: $primary-font;
			color: color($colors, title);
			display: inline-block;
			padding: 4px;
			padding-left: 4px;
			margin: 0px;
			font-size: .8em;
			max-width: 80%;
			max-height: 1.8em;
			overflow: hidden;
		}
		.addWorkout {
			margin: 0px;
			margin-right: 2px;
			padding: 0px;
			font-size: 1.4em;
			background-color: white;
			color: color($colors, primary);
			float: right;
		}
		.description {
			margin: 0;
			font-family: $primary-font;
			color: color($colors, description);
			font-size: .7em;
			padding: 3px;
			max-height: 2.45em;
			overflow: hidden;
		}
	}

	.social {
		list-style-type: none;
		padding: 0;
		margin: 0;
		background-color: rgba(245,245,245,100);
		padding-top: 3px;
		padding-bottom: 3px;
		color: color($colors, description);
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		li {
			font-family: $primary-font;
			text-align: center;
			display: inline-block;
			width: 31%;
			padding: 0px;
			margin: 0px;
			font-size: .7em;
			h4 {
				color: color($colors, title);
				margin: 0;
				padding: 0;
				font-size: 1.0em;
			}
		}
	}

	.workoutPhoto {
		width: 100%;
		border-radius: 3px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
}