.content-grid {
  padding-left: 1px;
  .media {
    display: inline-block;
    width: 24vw;
    vertical-align: top;
  }
  .video {
    width: 24vw;
    height: 24vw;
    color: color($colors, primary);
    background-size: 24vw 24vw; 
    text-align: center;
    padding-top: 8vw;

    .play-button {
      border-radius: 20px;
      padding-top: 10px;
      width: 40px;
      height: 40px;
      background-color: rgba(38,38,38,.5);
    }
  }
  .image {
    height: 24vw;
    width: 24vw;
  }
}