<ion-header>
	<ion-navbar>
	  <ion-title>Movement Editor</ion-title>
	</ion-navbar>
</ion-header>
<ion-content class="movementForm">

	<!-- Refactor into movement component -->
	<div class="title">
		<img class="thumbnailImage" [src]="(movement | async)?.thumbnail?.imageURL">
		<div class="details">
			<input class="name" placeholder="New Movement" (blur)="updateName($event)" value="{{(movement | async)?.name}}">
			<div class="category" (click)="changeCategory()">
				<ion-icon name="walk"></ion-icon>
				{{(movement | async)?.type}}
			</div>
		</div>
	</div>
	<div class="add-content" *ngIf="editable && editing">
		<button (click)="addContent()"><ion-icon name="camera"></ion-icon></button>
	</div>
	<div class="error" *ngIf="error">
		{{error}}
	</div>
	<div class="content">
		<content-grid [id]="id" [type]="'movement'"></content-grid>
	</div>
	<!-- Add some description --> 
	<div class="buttons" *ngIf="editable">
		<div class="save" *ngIf="editing" (click)="save()">Save</div>
		<div class="edit" *ngIf="!editing" (click)="edit()">Edit</div>
		<div class="delete" (click)="delete()">Delete</div>
	</div>
</ion-content>