<ion-header>
	<ion-navbar>
	  <ion-title>Movement</ion-title>
	</ion-navbar>
</ion-header>
<ion-content class="movementForm">
	<div class="video">
		<video [src]="(video | async)?.url" controls></video>
		<div class="change-video" *ngIf="editing" (click)="changeVideo()">
			<ion-icon name="cloud-upload" ></ion-icon>
			Upload Video
		</div>
	</div>
	<!-- Refactor into movement component -->
	<div class="title">
		<img class="thumbnailImage" [src]="(movement | async)?.thumbnail?.imageURL">
		<div class="details">
			<input class="name" placeholder="New Movement" (blur)="updateName($event)" value="{{(movement | async)?.name}}">
			<div class="category" (click)="changeCategory()">
				<ion-icon name="walk"></ion-icon>
				{{(movement | async)?.type}}
			</div>
		</div>
	</div>
	<div class="error" *ngIf="error">
		{{error}}
	</div>
	<!-- Add some description --> 
	<div class="buttons" *ngIf="editable">
		<div class="save" *ngIf="editing" (click)="save()">Save</div>
		<div class="edit" *ngIf="!editing" (click)="edit()">Edit</div>
		<div class="delete" (click)="delete()">Delete</div>
	</div>
</ion-content>