<ion-content class="discover-page">
  <ion-item class="search-bar">
	 <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
	</ion-item>
  <div class="tabs">
		<a (click)="tabs('workout')" class="option" [ngClass]="{visiting: (tab === 'workout')}">Workouts</a>
		<a (click)="tabs('user')" class="option" [ngClass]="{visiting: (tab === 'user')}">People</a>
	</div>
  <workout-search *ngIf="tab === 'workout'" [searchTerm]="searchTerm"></workout-search>
  <athlete-search *ngIf="tab === 'user'" [searchTerm]="searchTerm"></athlete-search>
</ion-content>