ion-searchbar {
	padding-top: 20px;
	background: none;
}

.discover-page {
	background-color: map-get($colors, background);

	.tabs {
		display: inline-block;
		background-color: map-get($colors, background);
		width: 100%;
	
		.option {
			font-weight: bold;
			font-size: 14px;
			color: rgba(255,255,255,.7);
			text-align: center;
		    display: inline-block;
			margin-left: -2px;
			padding: 10px;
			width: 50%;
		}
		.visiting {
			color: rgba(255,255,255,1);
			border-bottom: 3px solid map-get($colors, primary);
		}
	}

	.list-item {
		width: 50%;
		padding: 5px;
		display: inline-block;
		margin: 0px;
	}
}