.result-page {

	.result {
		text-align: center;
		font-size: 1.5em;
		font-family: color($fonts, primary);
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid color($colors, border);
	}

	.photo {
		width: 100%;
	}

	.info {

		padding-top: 5px;
		border-bottom: 1px solid color($colors, border);

		.photoIcon {
			padding-left: 20px;
			padding-right: 20px;
			text-align: center;
			font-size: 2em;
			color: color($colors, primary);
		}

		.description {
			padding-left: 5px;
			border: none;
			width: 15em !important;
			height: 4em !important;
			vertical-align: middle;
			border-left: 1px solid color($colors, border);
			resize: none;
		}
	}

	.complete {
		position: fixed;
		bottom: 0;
		width: 100%;
		margin: 0;
		border-radius: 0;
	}
}