.exercise-comp {
	padding: 0;
	border-bottom: 1px solid map-get($colors, border);
		.thumbnail-image {
			vertical-align: bottom;
			line-height: 0;
			display: table-cell;
			width: 70px;
			height: 70px;
			padding: 0;
			margin-bottom: -3px;
		}
		.main-properties {
			border-left: 1px solid map-get($colors, border);
			vertical-align: middle;
			display: table-cell;
			width: 70px;
			height: 70px;
			margin: 0px;
			margin-left: -5px;
			text-align: center;
			font-family: map-get($fonts, primary);
			.prop {
				width: 100%;
				text-align: center;
				.name {
					display: block;
					vertical-align: middle;
				}
			}
		}
		.details {
			padding-left: 5px;
			margin: 0px;
			margin-left: -5px;
			border-left: 1px solid map-get($colors, border);
			vertical-align: middle;
			display: table-cell;
			max-width: 50%;
			height: 70px;
			font-family: map-get($fonts, primary);
			.name {
				padding: 0px;
				margin: 0px;
				font-size: 14px;
				text-align: left;
				border: 0px;
				color: rgba(38,38,38, 1);
			}
			.secondary {
				color: rgba(38,38,38,.5);
			}
		}
}